/* comfortaa-regular - latin_cyrillic */
/* lobster-regular - latin_cyrillic */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lobster-v23-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lobster-v23-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lobster-v23-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lobster-v23-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lobster-v23-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lobster-v23-latin_cyrillic-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}

/* source-serif-pro-regular - latin_cyrillic */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-serif-pro-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-serif-pro-v11-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-serif-pro-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-serif-pro-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-serif-pro-v11-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-serif-pro-v11-latin_cyrillic-regular.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-700 - latin_cyrillic */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source-serif-pro-v11-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-serif-pro-v11-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-serif-pro-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-serif-pro-v11-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-serif-pro-v11-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-serif-pro-v11-latin_cyrillic-700.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}
/* source-serif-pro-900 - latin_cyrillic */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/source-serif-pro-v11-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/source-serif-pro-v11-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/source-serif-pro-v11-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/source-serif-pro-v11-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/source-serif-pro-v11-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/source-serif-pro-v11-latin_cyrillic-900.svg#SourceSerifPro') format('svg'); /* Legacy iOS */
}

/* amatic-sc-regular - latin_cyrillic */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/amatic-sc-v16-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/amatic-sc-v16-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amatic-sc-v16-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amatic-sc-v16-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amatic-sc-v16-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amatic-sc-v16-latin_cyrillic-regular.svg#AmaticSC') format('svg'); /* Legacy iOS */
}
/* amatic-sc-700 - latin_cyrillic */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/amatic-sc-v16-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/amatic-sc-v16-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amatic-sc-v16-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amatic-sc-v16-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amatic-sc-v16-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amatic-sc-v16-latin_cyrillic-700.svg#AmaticSC') format('svg'); /* Legacy iOS */
}

:root {
  --color_green: #7CBD41;
  --color_brown: #9B806F;
  --color_pink: #C44890;
  --color_form_down_font: #F2F2F2;
  --color_green_form: #97C12D;
  --color_background_hf: #FDF7E8;
  --color_background_instruction: #C44890;
}


html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

::selection {
   background: transparent;
}
::-moz-selection {
   background: transparent;
}

input::selection {
   background: #E5E4E4;
}
input::-moz-selection {
   background: #E5E4E4;
}

img{
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-size: 10px;
  line-height: 1.2;
  font-weight: normal;
  color: #464646;
  background-color: #F7FCFF;
}

.row {
  max-width: 1140px;
  margin-left: 0;
  margin-right: 0;
}

.background-color_brown {
  background-color: #FDF7E8;
}

.background-color_blue {
  background-color: #b3d4fc;
}

.content_color_green {
  color: #7CBD41;
}

.content_color_brown {
  color: #9B806F;
}

.content_color_pink {
  color: #C44890;
}

.background-color_pink {
  background-color: #C44890;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}


/* Header style start */

.burger_menu {
  display: none;
}


.down_menu {
  display: none;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  color: var(--color_brown);
  font-weight: 500;
  background-color: var(--color_background_hf);
}



.header_active {
  margin-top: 50px;
}

.header-logo-pic{
  width: 80px;
  height: 80px;
  padding: 0;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}

.text_town {
  font-size: 1.6em;
  padding-right: 0;
}

.header-logo{
margin-top: 5px;
margin-bottom: 5px;
padding-left: 0;
padding-right: 0;
}

.box_left_header {
  padding-right: 5px;
}

.box_right_header {
  padding-left: 5px;
}

.box_email_header {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.phone_number_header {
  padding-left: 5px;
  padding-right: 5px;
}

.phone_number {
  font-size: 2.4em;
}

.phone_number:hover {
  color: var(--color_green);
}

.adres_email {
  font-size: 1.8em;
}

.adres_email:hover {
  color: var(--color_green);
}

.header_menu {
  background-color: white;
  line-height: 50px;
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
  right: 0;
  z-index: 10;
  width: 100%;
}

.menu_wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu_active {
  top: 0px;
  background-color: white;
  height: 50px;
  line-height: 50px;
  width: 100%;
  z-index: 100;
  position: fixed;
}

.topmenu_item {
  margin-right: 18px;
}

.topmenu_item:last-child {
  margin-right: 0px;
}

.topmenu_item:first-child {
  margin-left: 0px;
}

.adres_desc {
  font-size: 1.2em;
}

.soc_seti {
  font-size: 2.6em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.soc_seti_instagram {
  color: #A741A7;
}

.soc_seti_telegram {
  color:#0088cc;
}

.soc_seti_whatsapp {
  color: #25d366;
}

.soc_seti_active:hover {
  transform: scale(1.15);
}

.phone_desc {
  font-size: 1.2em;
}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
    font-weight: 600;
}

a[href^="mailto"]{
    color:inherit;
    text-decoration:none;
}

.topmenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.phone_menu_soc {
  display: none;
}

/*buttom_back*/

.button_back {
  visibility: hidden;
  position: fixed;
  right: 10px;
  bottom: 150px;
  z-index: 40;
}

.button_back_pic {
  width: 50px;
  height: 50px;
}

.upbutton_visiable {
  opacity: 1;
    visibility: visible;
    transition: .2s opacity, .2s visibility;
}

.upbutton_hidden {
  opacity: 0;
   visibility: hidden;
   transition: .2s opacity, .2s visibility;
}

/* Submenu style start */

.menu_link {
  text-decoration: none;
  line-height: 20px;
  font-size: 1.6em;
  font-weight: 700;
  color: var(--color_brown);
  padding: 8px;
  transition: all .2s;
}

.menu_link:hover {
  color: var(--color_green);
}

.topmenu_item {
  position: relative;
}

.topmenu_item > .menu_link:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 35px;
  width: 10px;
  height: 10px;
  background: #7CBD41;
  border-radius: 50%;
  transform: translate(-50%, 5px);
  opacity: 0;
  transition: .2s;
}

.topmenu_item:hover .menu_link:before {
  transform: translate(-50%, 0);
  opacity: 1;
}
.submenu {
  line-height: 35px;
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 40px;
  width: 200px;
  margin-bottom: 10px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 10px);
  transition: .3s;
  box-sizing: border-box;
}

.topmenu_item:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.menu_link_sub {
  text-decoration: none;
  font-family: 'Source Serif Pro';
  font-size: 1.5em;
  /*transition: .001s linear;*/
  color: #9B806F;
  display: block;
  font-weight: 500;
}

.submenu_item:hover .menu_link_sub:hover {
  opacity: 75%;
  background-color: #7CBD41;
  color: #F2F2F2;
  border-radius: 5px;
}

.topmenu_item:hover .submenu {
  display: block;
}

.submenu_item {
  text-align: center;
}




/* Submenu style end */

/* Header style end */



/* Wave animation style start */

.animation_wave {
  position: absolute;
  width: 100%;
  height: 90px;
  top: -90px;
  left: 0;
}

.wave_1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url(../img/svg/wave_1.svg);
  height: 90px;
  animation: animate 45s linear infinite;
  animation-delay: 0s;
}

.wave_2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url(../img/svg/wave_2.svg);
  height: 80px;
  animation: animate_2 30s linear infinite;
  animation-delay: -5s;
}

@keyframes animate
{
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 1000px;
  }
}

@keyframes animate_2
{
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: -3000px;
  }
}



/* Wave animation style end */




/* Intro style start */



.intro{
  color: var(--color_brown);
  min-height: 30vh;
  background-image: url(../img/background_one.png);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 160px;
}

.intro_title{
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Lobster';
  font-size: 4.8em;
  line-height: 60px;
  color: #7CBD41;
  font-weight: 500;
  margin-bottom: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  background-color: #FDF7E8;
  margin-top: 0px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 345px;
  height: 310px;
}

.feya-pic {
  max-width: 650px;
}

.form_title_up{
  font-size: 2.4em;
  line-height: 30px;
  font-weight: 600;
  padding: 30px 30px 20px 30px;
}

.search-form_info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #464646;
}

.search-form_field{
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #9B806F;
  margin-right: 60px;
  margin-left: 25px;
  width: 200px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.6em;
  font-weight: 500;
  color: #464646;
  background-color: #FDF7E8;
  font-family: 'Source Serif Pro';
}

.search-form_field::placeholder{
  font-weight: 500;
  color: #9B806F;
}

.search-form_submit{
  margin-top: 20px;
  margin-left: 25px;
  padding: 10px 10px;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 500;
  background: #7CBD41;
  border: 0;
  border-radius: 8px;
  color: #F2F2F2;
  width: 150px;
  font-family: 'Source Serif Pro';
  opacity: 50%;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
}

.check_text {
  font-size: 1.2em;
  margin-left: 10px;
  text-align: left;
}

.check_text_desc {
  font-size: 1.2em;
  margin-left: 10px;
  margin-top: 4px;
}

.check_text_desc_a {
  color: #9B806F;
}

.form-checkbox {
  margin-left: 15px;
}

.politica_check {
  display: flex;
}

.politica {
  display: flex;
  flex-wrap: wrap;
}

.check {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.search-form_submit_active {
  opacity: 100%;
}

.search-form_submit_active:hover {
  box-shadow: none;
}

/* прячем input checkbox */
input[type="checkbox"] {
  display: none;
}

/* стили для метки */
label {
  color: #000;
  cursor: default;
  font-weight: normal;
  line-height: 10px;
  padding-left: 20px;
  vertical-align: middle;
}

/* формируем внешний вид чекбокса в псевдоэлементе before */
label:before {
  content: " ";
  color: #F9F9F9;
  display: inline-block;
  font: 9px/12px FontAwesome;
  margin-right: 0px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 14px;
  height: 14px;
  background: #FFF;
  border: 1px solid #e3e3e3;
  border-image: initial;
  vertical-align: middle;
}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
input:checked + label:before {
  content: "\f00c";
  background: #7CBD41;
}
/* disabled */
input:disabled + label:before {
  background: #eee;
  color: #aaa;
}
/*Карусель*/
.carousel {
  margin-bottom: 40px;
  padding: 0;
}

.carouselStock_intro {
  padding: 0;
}

/* Intro style end */





/* Benefits style start */

.benefits {
  padding-bottom: 100px;
  position: relative;
}

.benefits_wrapper {
  max-width: 1140px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.25);
  position: relative;
}

.benefits_title{
  color: var(--color_pink);
  font-size: 2.4em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 60px;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-99%);
  background-color: white;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.garlands_left {
  background-image: url(../img/svg/garlands_left.svg);
  position: absolute;
  top: -170px;
  left: -30px;
  width: 250px;
  height: 200px;
  z-index: 2;
  transform: scale(0.8);
}

.garlands_right {
  background-image: url(../img/svg/garlands_right.svg);
  position: absolute;
  top: -200px;
  right: -30px;
  width: 250px;
  height: 250px;
  z-index: 2;
  transform: scale(0.8);
}

.benefit_cards {
  margin: 0px 40px 60px 40px;
  padding-top: 20px;
}

.benefits_card-tumb{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 20px;
}

.benefits_card{
  transition: .3s;
}

.benefits_card-pic{
  margin-bottom: 30px;
}

.benefits_card:hover {
  transform: scale(1.1);
  color: #7CBD41;
}

.benefit_card-title {
  text-decoration: none;
  font-size: 2.0em;
  font-weight: 400;
  font-family: 'Source Serif Pro';
  text-align: center;
}

.benefit_card-desc{
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 40px;
}

.benefit_card-more{
  font-size: 1.6em;
  font-weight: 500;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding-right: 60px;
  background: url(../img/svg/strelka.svg) no-repeat 95% center;
  background-size: contain;
  transition: .2s all;
}

.benefit_card-more:hover, .benefit_card-more:focus {
  background: url(../img/svg/strelka.svg) no-repeat right center;
  color: green;
}


.instruction {
  display: block;
  color: #A7D27F;
  padding: 52px 10px 62px 10px;
  position: relative;
  background-color: var(--color_background_instruction);
}

.instruction_title {
  text-align: center;
  font-weight: 800;
  font-size: 3.4em;
  text-transform: uppercase;
  margin-bottom: 30px;
  line-height: 30px;
  font-family: 'Amatic SC';
}


.point_number {
  border-radius: 50%;
  min-width: 36px;
  height: 36px;
  padding: 6px;
  border: 2px solid #A7D27F;
  text-align: center;
  font-size: 1.8em;
}

.flex_pointer {
  display: flex;
  justify-content: center;
}

.point_text {
  font-size: 1.6em;
  color: #F9F9F9;
  margin-left: 10px;
}

.kontur {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  background-image: url(../img/svg/kontur_pink.svg);
  background-repeat: repeat-x;
  height: 10px;
  /*animation: animate_3 45s linear infinite;*/
  animation-delay: 0s;
}

@keyframes animate_3
{
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 1200px;
  }
}

.kontur_line_green {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  background-image: url(../img/svg/kontur_green.svg);
  background-repeat: repeat-x;
  height: 10px;
  /*animation: animate_3 45s linear infinite;*/
  animation-delay: 0s;
}

/* !!!!!! Форма внизу !!!!!!*/

.benefit_search-form {
  background-color: var(--color_green_form);
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.paper_plane {
  max-width: 100px;
  max-height: 100px;
  fill: white;
}

.confetti_black {
  max-width: 80px;
  max-height: 80px;
}

.benefit_search-form_wrap {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  max-width: 1140px;
  display: block;
}

.benefit_form_title {
  font-family: 'Amatic SC';
  line-height: 50px;
  font-size: 3.4em;
  font-weight: 800;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--color_form_down_font);
}


.benefit_search-form_field {
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #F9F9F9;
  margin-right: 20px;
  margin-left: 25px;
  max-width: 180px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.6em;
  font-weight: 500;
  color: var(--color_form_down_font);
  background-color: var(--color_green_form);
  font-family: 'Source Serif Pro';
}

.benefit_search-form_field::placeholder{
  font-weight: 500;
  color: var(--color_form_down_font);
}

.benefit_search-form_submit {
  margin-left: 30px;
  margin-right: 25px;
  padding: 5px 5px;
  text-transform: uppercase;
  font-size: 2.6em;
  font-weight: 500;
  background: #4B9E00;
  border: 0;
  border-radius: 4px;
  color: var(--color_form_down_font);
  width: 100px;
  font-family: 'Amatic SC';
  opacity: 50%;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
}

.benefit_check {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefit_check_text {
  line-height: 16px;
  margin-left: 10px;
  font-size: 1.2em;
  text-align: left;
}

.search-form_submit_active_benefit {
  opacity: 100%;
}

.search-form_submit_active_benefit:hover {
  box-shadow: none;
}

.benefit_check_text_desc_a {
  color: var(--color_form_down_font);
}

.benefit_check_text_desc {
  padding-left: 7px;
  line-height: 16px;
  font-size: 1.2em;
  margin-right: 30px;
  color: var(--color_form_down_font);
}

.flex_check {
  display: flex;
}



/* !!!!!! Конец формы !!!!!!*/


/* Benefits style end */







/* Video start */

.videos{
  width: 100%;
}

.video_wrapper{
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.video_item{
  padding-top: 56.25%;
}

.video_element{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Video end */



































/* Footer start */

.footer{
  background: var(--color_background_hf);
  padding: 10px 0;
  color: var(--color_brown);
}

.footer_logo-pic {
  max-width: 70px;
  max-height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo_text {
  font-size: 1.6em;
  text-align: center;
  line-height: 22px;
}

.phone_number_footer {
  font-size: 2.1em;
  display: flex;
  justify-content: flex-end;
}

.phone_number_footer:hover {
  color: var(--color_green);
}

.phone_desc_footer {
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
}

.adres_footer_text {
  font-size: 1.6em;
  text-align: left;
}

.box_logo {
  display: flex;
  justify-content: flex-start;
}



/* Footer end */

/* !!!!!! Форма прилипшая внизу экрана !!!!!!*/
.form_down {
  bottom: 0;
  left: 0;
  visibility: hidden;
  z-index: 10;
  position: fixed;
  opacity: 1;
  transition: all .2s;
  padding: 0;
}


.visible_form {
  visibility: visible;
  opacity: 1;
}

.hidden_form {
  visibility: hidden;
  opacity: 0;
}

.search_wrap_down {
  background-color: var(--color_green_form);
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 0;
}

.search_form_info_down {
  color: #464646;
}

.form_title_down {
  padding-left: 20px;
  font-family: 'Amatic SC';
  line-height: 50px;
  font-size: 2.6em;
  font-weight: 800;
  color: var(--color_form_down_font);
}


.search_form_field_down{
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #F9F9F9;
  margin-right: 15px;
  margin-left: 15px;
  width: 180px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.6em;
  font-weight: 500;
  color: var(--color_form_down_font);
  background-color: var(--color_green_form);
  font-family: 'Source Serif Pro';
}

.search_form_field_down::placeholder{
  font-weight: 500;
  color: #F9F9F9;
}


.check_down {
  display: block;
  margin-top: 0;
  margin-left: auto;
}

.search_form_submit_down {
  padding: 3px 3px;
  text-transform: uppercase;
  font-size: 2.6em;
  font-weight: 500;
  background: #4B9E00;
  border: 0;
  border-radius: 4px;
  color: var(--color_form_down_font);
  width: 100px;
  font-family: 'Amatic SC';
  opacity: 50%;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
}

.politica_down {
  display: flex;
  flex-wrap: wrap;
  line-height: 18px;
}

.check_text_down{
  color: #464646;
  text-align: center;
  line-height: 18px;
  margin-left: 5px;
}

.politica_check_down {
  margin-top: 5px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-form_submit_active_down {
  opacity: 100%;
}

.search-form_submit_active_down:hover {
  box-shadow: none;
}

.check_text_desc_a_down {
  padding-left: 5px;
  color: var(--color_form_down_font);
}

.check_text_desc_down {
  font-size: 1.2em;
  margin-left: 10px;
  margin-right: 5px;
}

/* !!!!!! Конец формы !!!!!!*/

/* Media start */

@media screen and (max-width: 950px){

/*benefit*/
.benefit_search-form_field {
 width: 140px;
}


/*header start*/
/*menu burger start*/

.down_menu {
  display: block;
  height: 65px;
  background-color: var(--color_background_hf);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /*border-top: 3px solid var(--color_background_instruction);*/
  z-index: 100;
  padding: 5px;
  box-shadow: 0px 2px 12px 8px rgba(34, 60, 80, 0.17);
}

.menu_bar_whatsapp {
  width: 40px;
  height: 40px;
}

.menu_bar_desc{
  font-size: 1.2em;
  font-family: 'Source Serif Pro';
  color: var(--color_brown);
  padding: 0px;
  margin-top: 3px;
  font-weight: 600;
/*  text-shadow: 1px 0 1px var(--color_background_instruction),
  0 1px 1px var(--color_background_instruction),
-1px 0 1px var(--color_background_instruction),
0 -1px 1px var(--color_background_instruction);*/
}

.menu_bar_desc_a {
  text-decoration: none;
}

.burger {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 39px;
  height: 36px;
  transition: .2 linear;
}

.burger:before, .burger:after {
  content: '';
  background-color: var(--color_green_form);
  position: absolute;
  width: 100%;
  left: 0;
  height: 3px;
  transition: all .2s ease 0s;
}

.burger:before {
  top: 0;
}

.burger span {
  position: absolute;
  background-color: var(--color_green_form);
  left: 0;
  width: 100%;
  height: 3px;
  top: 17px;
  transition: all .2s ease 0s;
}

.burger:after {
  bottom: 0;
}

.burger.burger_active:before {
  transform: rotate(45deg);
  top: 17px;
}

.burger.burger_active:after {
  transform: rotate(-45deg);
  bottom: 17px;
}

.burger.burger_active span {
  transform: scale(0);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/*menu visible*/

.header_menu {
  display: none;
}
.burger_menu {
  display: block;
  background-color: var(--color_form_down_font);
  width: 400px;
  padding-bottom: 65px;
  overflow: scroll;
  max-height: 100%;
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
  right: 0;
  z-index: 100;
  bottom: 0;
  position: fixed;
  transform: translateX(110%);
  transition: 0.2s all linear;
}
.burger_nav_active {
  transform: translateX(0);
}
.burger_wrapper{
  display: block;
  padding: 0px;
  padding: 10px 15px;
}
.topmenu_item_burger {
  margin-right: 18px;
  display: block;
  text-align: right;
  line-height: 40px;
}
.topmenu_burger {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*Сотовый телефон и копка внизу меню*/
.phone_menu_soc {
  display: block;
}
.box_email_burger {
  display: block;
  padding-bottom: 15px;
}
.box_phone_burger {
  margin-bottom: 30px;
}
.adres_email_burger {
  font-size: 2em;
}
.phone_number_burger {
  font-size: 2.8em;
}
.burger_button_call {
  font-size: 2em;
  padding: 4px;
  margin: 5px auto 20px 0px;
  font-weight: 500;
  background: #4B9E00;
  border: 0;
  border-radius: 4px;
  color: var(--color_form_down_font);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
}
.burger_button_call_a {
  text-decoration: none;
  color: var(--color_form_down_font);
}

.burger_button_call_a:hover {
  color: var(--color_form_down_font);
}
.burger_button_call:hover {
  box-shadow: none;
}
/* Submenu style start */
.menu_link_burger {
  text-decoration: none;
  line-height: 40px;
  font-size: 2.2em;
  font-weight: 700;
  color: var(--color_brown);
  transition: 0.1s;
}
/*!Одновременно вносить правки в соседние классы!*/
.menu_link_burger_more {
  text-decoration: none;
  line-height: 40px;
  font-size: 2.2em;
  font-weight: 700;
/*  color: var(--color_brown);*/
  transition: 0.1s;
  margin-left: auto;
}

.menu_link_burger:hover {
  color: var(--color_green);
}

/*accordion Animation*/

.accordion-button:not(.collapsed) {
  color: var(--color_brown);
}

.accordion-button {
  color: var(--color_brown);
  padding: 0px;
  justify-content: flex-end;
  background-color: var(--color_form_down_font);
}

.accordion-button::after {
  margin-left: 5px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239B806F'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239B806F'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}


.accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: var(--color_form_down_font);
}

/*accordion Animation end*/


.menu_link_sub_burger {
  text-decoration: none;
  font-family: 'Source Serif Pro';
  font-size: 2em;
  color: #9B806F;
  display: block;
  font-weight: 500;
  line-height: 35px;
  padding-right: 10px;
}

.submenu_item_burger:hover .menu_link_sub_burger:hover {
  opacity: 75%;
  background-color: #7CBD41;
  color: #F2F2F2;
  border-radius: 5px;
}


/*menu burger end*/
 /*header end*/

/*footer start*/
.footer {
  padding-bottom: 70px;
}

/*footer end*/
}





@media screen and (max-width: 767px){
  /*Benefits start*/
  .paper_plane {
    display: none;
  }

  .confetti_black {
    display: none;
  }
/*Benefits end*/

.benefit_search-form_submit {
  margin-top: 20px;
}

  .adres_email {
    font-size: 1.8em;
  }

  .box-adres {
    display: none;
  }
  .benefits {
    padding-bottom: 20px;
  }
  .logo_text {
    display: none;
  }
  .feya-pic {
    display: none;
  }
  .flex_pointer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .instruction {
    padding: 30px 10px 30px;
  }
  .instruction_title {
    margin-bottom: 20px;
  }
  .confetti_black {
    display: none;
  }
  .paper_plane {
    display: none;
  }
  }

@media screen and (max-width: 768px){/*!!!Экран для планшетов!!!*/

/*Footer*/


/*Footer end*/

/*Header start*/

.soc_seti {
  font-size: 2.4em;
  margin-top: 0px;
  padding-bottom: 0;
}

.box_email_header {
  display: none;
}

/*Header end*/

.burger_menu {
  width: 300px;
}


  body {
    font-size: 9px;
  }
/*Benefits start*/
.point_number {
  border-radius: 50%;
  min-width: 31px;
  height: 31px;
  padding: 4px;
  border: 2px solid #A7D27F;
  text-align: center;
  font-size: 1.8em;
}
.benefit_cards {
  margin-left: 10px;
  margin-right: 10px;
}
.animation_wave {
  display: none;
}
.benefit_search-form_field {

  font-size: 2em;
}

/*Benefits end*/


}



@media screen and (max-width: 600px){ /*!!!Экран для планшетов самсунг!!!*/

  /*Footer*/
    .adres_email {
      background-size: 17px;
      font-size: 1.8em;
    }
    .phone_number {
      font-size: 2.6em;
    }
  /*Footer end*/


/*Benefits start*/


.garlands_right {
  display: none;
}
.garlands_left {
  display: none;
}
  .benefit_form_title {
    font-size: 3em;
  }
  .instruction_title {
    font-size: 3em;
  }
  .benefits_title {
    padding: 20px;
  }
  .benefit_search-form_field {
    background-size: 20px;
    margin-right: 20px;
    margin-left: 25px;
    max-width: 600px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4em;
    font-weight: 500;
    color: var(--color_form_down_font);
    background-color: var(--color_green_form);
  }
/*Benefits end*/

/*Header start*/
  .header {
    font-size: 9px;
  }
  /*Header end*/
      body {
        font-size: 10px;
      }

/*Intro start*/

      .intro {
        padding-bottom: 100px;
      }

      .intro_title {
        font-size: 3.4em;
      }
/*Intro end*/
      }
      @media screen and (max-width: 375px) {

      /*header start*/
      .phone_number {
        font-size: 2.2em;
      }
      .adres_email {
        font-size: 1.6em;
      }


      .benefit_card-title {
        font-size: 1.8em;
      }

      /*header end*/


      /*intro start*/

      .intro {
        padding-top: 15px;
      }

      label {
        padding-left: 10px;
      }

      .form_title_up {
        padding: 18px 0;
      }

      .intro_title {
        font-size: 3.6em;
        margin-bottom: 15px;
      }

      /*intro end*/


      }
      @media screen and (max-width: 280px) {

            /*header start*/
            .phone_number {
              font-size: 1.8em;
            }
            .adres_email {
              font-size: 1.2em;
            }
            .benefit_card-title {
              font-size: 1.8em;
            }
            /*header end*/

            /*intro start*/
            .search-form {
              height: 340px;
              margin-bottom: 100px;
            }
            .search-form_field {
              width: 160px;
            }
            .intro_title{
              font-size: 3em;
            }
            .intro {
              padding-top: 15px;
            }
            label {
              padding-left: 10px;
            }
            .form_title_up {
              padding: 18px 0;
            }
            /*intro end*/
      /*benefit start*/
      .benefit_card-title {
        font-size: 1.4em;
      }
      /*benefit end*/

      /*footer start*/

      .phone_number_footer {
        font-size: 1.8em;
      }
      /*footer end*/
            }

/* Media end */


/*Скрывая некоторые из элементов*/

.hidden_all {
  display: none;
}
